<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
  <appender name="file-appender" type="log4net.Appender.FileAppender+MinimalLock">
    <file value="log-file.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
    </layout>
  </appender>

  <appender name="sqlite-appender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite" />
    <connectionString value="Data Source=|DataDirectory|\log4net.db;Synchronous=Off " />
    <commandText value="INSERT INTO Log4Net ([date], thread, level, logger, message, exception)
VALUES (@date, @thread, @level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@level" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%exception" />
      </layout>
    </parameter>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="sqlite-appender" />
    <!-- Uncomment when basic TextAppender is needed
<appender-ref ref="file-appender" />
-->
  </root>
</log4net>