<!-- Announcement -->
<h2>お知らせ</h2>
<h4>全サーバ揃った！</h4>
<p>
    お楽しみに！<br />
    (*´∀`*)ﾉ｡+゜*｡
    @*<span class="font-bold">次回の「艦これ」全サーバ群共通メンテナンス＆アップデート【4/10(金曜日)】に実施させて頂く予定です。作業は【11:00～17:00】の予定です。</span><br />
    --公式ツイッタから<br />
    <br />
    戦果情報の更新はその後です。*@
</p>
<p class="text-center">
    <a class="btn btn-primary btn-block" href="/server/ranking">ランキングへ</a>
</p>
<!-- Announcement End -->
