<!-- Announcement -->
<h2>お知らせ</h2>
<h4>今なし</h4>
<p>
    お楽しみに！<br />
    (*´∀`*)ﾉ｡+゜*｡
</p>
<p class="text-center">
    <a class="btn btn-default btn-xs" href="mailto:contact@senka.me">メールする</a>
</p>
<!-- Announcement End -->
