<!-- Announcement -->
<h2>お知らせ</h2>
<h4>アカウント募集中！</h4>
<p>
    現在データがないサーバーのアカウントを募集しております。<br />
    <span class="cl-red">既にプレイしない</span>アカウントを提供可能の方は、<br class="visible-xs visible-sm"/>
    是非メールにご連絡お願いします。<br class="hidden-lg"/>
    管理人は日本語、英語または中国語でもOKです。<br />
    よろしくお願いします。
</p>
<p class="text-center">
    <a class="btn btn-default btn-xs" href="mailto:contact@senka.me">メールする</a>
</p>
<!-- Announcement End -->
