<div class="page-header">
    <h2 class="text-center">@Html.MvcSiteMap().SiteMapTitle()</h2>
</div>
<dl id="devToolList" class="text-center">
    <dt>Language</dt>
    <dd>C#</dd>
    <dt>Database</dt>
    <dd><a href="https://sqlite.org/">SQLite 3</a></dd>
    <dt>Web Framework</dt>
    <dd><a href="http://www.asp.net/mvc">ASP.NET MVC5</a></dd>
    <dt>NuGet Packages</dt>
    <dd><a href="https://www.nuget.org/packages/Newtonsoft.Json/">Json.NET</a></dd>
    <dd><a href="https://www.nuget.org/packages/MvcSiteMapProvider.MVC5/">MvcSiteMapProvider MVC5</a></dd>
    <dd><a href="https://www.nuget.org/packages/Autofac.Mvc5/">Autofac ASP.NET MVC5 Integration</a></dd>
    <dt>Front-end</dt>
    <dd><a href="http://jquery.com/">JQuery</a></dd>
    <dd><a href="http://getbootstrap.com/">Bootstrap</a></dd>
    <dd><a href="http://lesscss.org/">LESS</a></dd>
    <dd><a href="http://www.ichartjs.com/en/">ichartjs</a></dd>
</dl>

