@using KanColleSenkaRanking.Models
@{
    ICollection<SenkaServerData> servers = ViewBag.ServerList;
    IList<SenkaServerData> disabledServers = servers.Where(s => !s.Enabled).ToList();
}
<!-- Server List -->
<h3>
    データがないのサーバ
</h3>
<ul class="h4">
    @foreach (var server in disabledServers) {
        <li>@server.Name</li>
    }
</ul>
<!-- Server List End -->