@model IEnumerable<KanColleSenkaRanking.Models.SenkaServerData>
<!-- Server List -->
<h3>
    データがないのサーバ
</h3>
<ul class="h4">
    @foreach (var server in Model.Where(s => !s.Enabled)) {
        <li>@server.Name</li>
    }
</ul>
<!-- Server List End -->