@using KanColleSenkaRanking.Models
@{
    ICollection<SenkaServerData> servers = ViewBag.ServerList;
    IList<SenkaServerData> enabledServers = servers.Where(s => s.Enabled).ToList();
}
<!-- Server List -->
<h3>
    データがあるのサーバ<br />
    <small>@enabledServers.Count / @servers.Count</small>
</h3>
<ul class="h4">
    @foreach (var server in enabledServers) {
        <li>@server.Name</li>
    }
</ul>
<!-- Server List End -->